.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mainHeader {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.mainContent {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.mainHeading {
  color: #a34a23;
  font-size: 32px;
  text-align: left;
}

.contentHeader {
  width: 100%;
}

.search {
  width: 40%;
}

.underline {
  height: 4px;
  width: 100%;
  background-color: #f76c2f;
}

.aside {
  width: 300px;
  padding: 10px;
}

.content {
  width: 100%;
  padding: 10px;
}

.postButton {
  color: white;
  padding: 5px;
  text-align: center;
  background-color: #f76c2f;
  border-color: #f76c2f;
}

.postButton:hover {
  color: white;
  background-color: #f37e4c;
  border-color: #f37e4c;
}
