.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mainHeader {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.mainContent {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.mainHeading {
  color: #FF8787;
  font-size: 32px;
  text-align: left;
}

.contentHeader {
  width: 100%;
}

.search {
  width: 40%;
}

.underline {
  height: 4px;
  width: 100%;
  background-color: #B6E2A1;
}

.aside {
  width: 300px;
  padding: 10px;
}

.content {
  width: 100%;
  padding: 10px;
}

.postButton {
  color: white;
  padding: 5px;
  text-align: center;
  background-color: #B6E2A1;
  border-color: #B6E2A1;
}

.postButton:hover {
  color: white;
  background-color: #9cd681;
  border-color: #9cd681;
}

@media only screen and (max-width: 768px) {
  .mainContent {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .aside {
    width: 100%;
    padding: 10px;
  }
}
