.colStyle {
  max-width: 202px;
  max-height: 274px;;
}

.card {
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
}

.bgCostum {
  background-color: #fbfbfb;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
}

@media only screen and (width < 577px) {
  .bgCostum {
    display: none;
  }
}

@media only screen and (width > 576px) {
  .bgCostum {
    font-size: 12px;
  }
}

@media only screen and (width > 768px) {
  .bgCostum {
    font-size: 18px;
  }
}
