html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #363232;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background: rgb(255, 255, 255);
  }
}

@media (max-width: 1000px) {
  .mainContent,
  .mainHeader {
    flex-direction: column;
  }
  .content {
    width: 100%;
  }
  .aside {
    width: 100%;
  }
  .contentHeader {
    width: 100%;
  }
  .search {
    width: 100%;
  }
  .images-card {
    height: 100%;
  }
  .pagination {
    width: 100%;
  }
  .chooseFile {
    width: 100%;
  }
}

.pagination {
  --bs-pagination-color: #f37e4c !important;
}
.pagination:hover {
  --bs-pagination-color: #f37e4c !important;
}

.page-link {
  box-shadow: none !important;
  border-color: #e2cec3;
}
.page-link:hover {
  background-color: #f37e4c;
  border: #f76c2f;
  color: rgb(0, 0, 0);
}
.active > .page-link,
.page-link.active {
  background-color: #f37e4c;
  border-color: #e2cec3;
}
.nav-link,
.nav-link:hover {
  color: black;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #f37e4c;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.underline {
  height: 4px;
  width: 100%;
  background-color: #f76c2f;
  margin-top: 10px;
}

.mainContent,
.mainHeader {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.content {
  width: 100%;
  padding: 10px;
}

.btnUpdate {
  float: right;
  background-color: white;
  color: black;
  border-color: #ad4e20;
}
.btnUpdate:hover {
  background-color: #f76c2f;
  border-color: #ad4e20;
}

.form-control {
  box-shadow: none !important;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 10px;
}

.slick-arrow {
  color: black;
}
.slick-next {
  color: black;
}

.main-heading {
  color: #a34a23;
  font-size: 26px;
  text-align: left;
}

.buttonTanya {
  max-width: 200px;
  background-color: #ad4e20;
  border-color: #ad4e20;
}

.buttonTanya:hover {
  background-color: #b4663f;
  border-color: #b45a2d;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: rgb(66, 65, 65);
}

.table {
  border-radius: 12px !important;
}
.table > :not(caption) > * > * {
  border-bottom-width: 0 !important;
}
.table > thead {
  box-sizing: border-box;
  background: #fff8f4;
  border: 2px solid #ad4e20;
}
