.title {
  font-size: 18px;
  text-align: center;
}

.buttonArtikel:focus {
  color: whitesmoke;
  background-color: #f76c2f;
  border-color: #f76c2f;
}

.buttonArtikel::selection  {
  color: whitesmoke;
  background-color: #f76c2f;
  border-color: #f76c2f;
}

.buttonArtikel:active  {
  color: whitesmoke;
  background-color: #f76c2f;
  border-color: #f76c2f;
}

