.btnColor {
    background-color: #FF9E9E;
    border-color: #FF9E9E;
    margin-right: 0px;
  }
  .btnColor:hover {
    background-color: #f78a8a;
    border-color: #f78a8a;
  }

  .icon{
    font-size: 25px;
  }